<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediscreenapp">
    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/helpTitle"
            android:parentActivityName="com.example.mediscreenapp.ui.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mediscreenapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/profileTitle"
            android:parentActivityName="com.example.mediscreenapp.ui.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mediscreenapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.FeedbackActivity"
            android:label="@string/feedbackTitle"
            android:parentActivityName="com.example.mediscreenapp.ui.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mediscreenapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.DiagnosisActivity"
            android:label="@string/diagnosisTitle"
            android:parentActivityName="com.example.mediscreenapp.ui.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mediscreenapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.SupportActivity"
            android:label="@string/supportTitle"
            android:parentActivityName="com.example.mediscreenapp.ui.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mediscreenapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:label="@string/registerTitle"
            android:parentActivityName="com.example.mediscreenapp.ui.HomeActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mediscreenapp.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/homeTitle"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/loginTitle"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.example.mediscreenapp.ui.HomeActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mediscreenapp.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.SplashScreenActivity"
            android:theme="@style/AppThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/mainTitle"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>